@charset "utf-8";

*{
margin:0;
padding:0;
}

body{
background-color:gray;
}

.breadcrumbs li{
                display: inline;
                list-style-type: none;
}
.breadcrumbs li:before{
       content: " > ";
}
.breadcrumbs li:first-child:before{
       content:"";
}

header{
background-color:lightgreen;
}
#main{
background-color:lightblue;
}
#main2{
background-color:lightgreen;
}
aside{
background-color:lightblue;
}
footer{
background-color:lightgreen;
}
